import /init.recovery.microtrust.rc

on early-fs
    start vold

on fs
    install_keyring
    setprop crypto.ready 1

service keystore_auth /system/bin/keystore_auth
    oneshot
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0 /vendor/bin/hw/android.hardware.keymaster@4.0-service.beanpod
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start vendor.keymaster-4-0
    start gatekeeper-1-0
    
on property:hwservicemanager.ready=true
    start vendor.keymaster-4-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop vendor.keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop vendor.keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop vendor.keymaster-4-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on boot
    start boot-hal-1-1
    start wait_for_keymaster

service wait_for_keymaster /system/bin/wait_for_keymaster
    user root
    group root system
    priority -20
    ioprio rt 0
    disabled
    seclabel u:r:recovery:s0

